*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}



header{
    width: 100%;
    height: 4.3rem;
    background-color: wheat;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    flex-direction: row;
    z-index: 99;
}

header img{
    width: 80px;
    padding: 10px;
}

header > a,header button{
    color: rgb(197, 118, 0);
    margin: 0 15px;
    font-size: 1.3em;
    text-decoration: none;
}

header button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.content > a {

    text-decoration: none;
    color:rgb(197, 118, 0);
}

header .dropdown-1{
    position: relative;
    height:100%;
    display: flex;
}

header .dropdown-1 .content{
    display: none;
}

header .dropdown-1:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(192, 212, 212);
    top: 69px;
    width:120%;
    padding:10px 10px;
    box-sizing: border-box;
    color: rgb(197, 118, 0);
}

header .iconburger {
    display: none;
    
}
 
main{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2% 0 0 0;
    flex-direction: column;
}

[class^="div_photo"]{
    width: 90%;
    height: 100%;
    padding: 1% 1% 1% 1%;
}

#menu>[class^="div_photo"]>img{
    width: 30em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    display: grid;
    height: 100%;
    grid-gap:1%;
    grid-template-areas:
    "a b c"
    "d e f";
    padding-bottom: 2%;
}

.div_photo_1{grid-area: a;}
.div_photo_2{grid-area: b;}
.div_photo_3{grid-area: c;}
.div_photo_4{grid-area: d;}
.div_photo_5{grid-area: e;}
.div_photo_6{grid-area: f;}

#container_du_formulaire{
    background: linear-gradient(90deg,rgba(245, 222, 179, 0.493), wheat, rgba(245, 222, 179, 0.493));
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 1fr 5fr;
    color: rgb(197, 118, 0);
    padding: 1% 0 1% 0;
}

.div_horaire{
    grid-area: a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div_horaire>ul>li{
    font-style: italic;
}

.div_du_form{
    grid-area: b;
    padding: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    color: rgb(197, 118, 0);
    font-weight: bold;
}

#form_du_form>h2{
    text-align: center;
}

#form_du_form>.div_du_form input{
    border: none;
    border-radius: 1em;
    height: 2em;
    width: 100%;
    max-width: 20em;
    justify-content: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

#form_du_form>.div_du_form input:hover{
    background: rgb(129, 129, 129);
    transition: all 1.1s ease;
}

/************ footer ************/


.div_equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0 2% 0;
    background:url('/img/tim-mossholder-G-IId4_X6mA-unsplash.jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
    font-size: 1.5em!important;
    font-weight: bold;
}

.div_equipe>*{
    display: flex;
    flex-direction: column;
    
}

footer>.div_equipe img{
    height: 300px;
    width: 280px;
    object-fit: cover;
}

footer>.div_equipe img:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
}

.div_bas_de_page{
    background: wheat;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Source sans pro';
}

.icone_reso_soc{
    display: flex;
    justify-content: space-evenly;

}

.icone_reso_soc>i{
    padding: 0 0 0 1%;
}

.icone_reso_soc>*{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}




@media only screen and (max-width: 1000px) {
    header>a,
    header button{
        display: none;
        color: rgb(197, 118, 0);
    }

    header .iconburger {
        display: block;
        position:absolute;
        right: 0px;
        text-align: center;
        width: 5% !important;
        top: 20px;
        padding: 0!important;
       
    }

    header.responsive > a{
        padding: 10px 0;
        
    }

    header.responsive > a,
    header.responsive .dropdown-1 {
        display: block;
        width: 100%;
        text-align: left;
    }

    header.responsive button{
        display: block;
        padding: 10px 0;
    }

    header>.navbar.nav{
        width: 100%;
    }

    header{
        flex-direction: column;
        min-height: 70px;
        height: max-content;
        align-items: flex-start;
        min-width: 100px;
    }

    header .dropdown-1:hover .content{
        position: relative;
        width: 100%;
        top: 0;
        padding-left: 30px;
    }

    /*************** menu responsive ****************/

    #menu{
        grid-template-areas:
        "a b"
        "c d"
        "e f";
    }

    #menu>[class^="div_photo"]>img{
        width: 20em;
        height: 17em;
        object-fit: cover;
    }

    .div_du_form{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        width: 80%;
    }

    #container_du_formulaire{
        display: flex;
        justify-content: center;
        height: 15em;
        grid-template-areas: 
        "a"
        "b";
        grid-template-columns: 1fr;
    }

    #form_du_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

}

@media only screen and (max-width: 750px){

    #menu{
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
        grid-gap:unset;
    }

    #form_du_form{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }


}